In [2]:
%matplotlib inline
import sklearn
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

from sklearn import metrics

In [32]:
dataset = pd.read_csv( "StudentsPerformance.csv")
dataset.head()
#dataset.tail()
#dataset.drop(labels=['gender','race/ethnicity'],axis=1,inplace=True)
dataset['parental level of education'] = dataset['parental level of education'].map(lambda x: x.replace("master's degree",'6').replace("some high school",'3').replace("high school",'2').replace("associate's degree",'4').replace("bachelor's degree",'5').replace('some college','1'))
dataset['lunch'] = dataset['lunch'].map(lambda x: x.replace("standard",'1').replace("free/reduced",'0'))
dataset['test preparation course'] = dataset['test preparation course'].map(lambda x: x.replace("completed",'1').replace("none",'0'))
#dataset.apply(lambda x: np.std(x), axis=0)
#dataset.std(axis=0)
#sklearn.preprocessing.scale(dataset, axis=0, with_mean=True, with_std=True, copy=True)  
dataset

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,5,1,0,72,72,74
1,female,group C,1,1,1,69,90,88
2,female,group B,6,1,0,90,95,93
3,male,group A,4,0,0,47,57,44
4,male,group C,1,1,0,76,78,75
5,female,group B,4,1,0,71,83,78
6,female,group B,1,1,1,88,95,92
7,male,group B,1,0,0,40,43,39
8,male,group D,2,0,1,64,64,67
9,female,group B,2,0,0,38,60,50
10,male,group C,4,1,0,58,54,52
11,male,group D,4,1,0,40,52,43
12,female,group B,2,1,0,65,81,73
13,male,group A,1,1,1,78,72,70
14,female,group A,6,1,0,50,53,58
15,female,group C,3,1,0,69,75,78
16,male,group C,2,1,0,88,89,86
17,female,group B,3,0,0,18,32,28
18,male,group C,6,0,1,46,42,46
19,female,group C,4,0,0,54,58,61
20,male,group D,2,1,0,66,69,63
21,female,group B,1,0,1,65,75,70
22,male,group D,1,1,0,44,54,53
23,female,group C,3,1,0,69,73,73
24,male,group D,5,0,1,74,71,80
25,male,group A,6,0,0,73,74,72
26,male,group B,1,1,0,69,54,55
27,female,group C,5,1,0,67,69,75
28,male,group C,2,1,0,70,70,65
29,female,group D,6,1,0,62,70,75
...,...,...,...,...,...,...,...,...
970,female,group D,5,1,0,89,100,100
971,male,group C,3,1,1,78,72,69
972,female,group A,2,0,1,53,50,60
973,female,group D,1,0,0,49,65,61
974,female,group A,1,1,0,54,63,67
975,female,group C,1,1,1,64,82,77
976,male,group B,1,0,1,60,62,60
977,male,group C,4,1,0,62,65,58
978,male,group D,2,1,1,55,41,48
979,female,group C,4,1,0,91,95,94
980,female,group B,2,0,0,8,24,23
981,male,group D,3,1,0,81,78,78
982,male,group B,3,1,1,79,85,86
983,female,group A,1,1,1,78,87,91
984,female,group C,3,1,0,74,75,82
985,male,group A,2,1,0,57,51,54
986,female,group C,4,1,0,40,59,51
987,male,group E,3,1,1,81,75,76
988,female,group A,3,0,0,44,45,45
989,female,group D,1,0,1,67,86,83
990,male,group E,2,0,1,86,81,75
991,female,group B,3,1,1,65,82,78
992,female,group D,4,0,0,55,76,76
993,female,group D,5,0,0,62,72,74
994,male,group A,2,1,0,63,63,62
995,female,group E,6,1,1,88,99,95
996,male,group C,2,0,0,62,55,55
997,female,group C,2,0,1,59,71,65
998,female,group D,1,1,1,68,78,77
999,female,group D,1,0,0,77,86,86

In [39]:
dataset_new = dataset[['parental level of education','lunch','test preparation course','math score','reading score','writing score']]
X = dataset_new.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(X)
dataset_numpy = pd.DataFrame(x_scaled)
dataset_numpy

/Users/utilisateur/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

       0    1    2     3         4         5
0    0.8  1.0  0.0  0.72  0.662651  0.711111
1    0.0  1.0  1.0  0.69  0.879518  0.866667
2    1.0  1.0  0.0  0.90  0.939759  0.922222
3    0.6  0.0  0.0  0.47  0.481928  0.377778
4    0.0  1.0  0.0  0.76  0.734940  0.722222
5    0.6  1.0  0.0  0.71  0.795181  0.755556
6    0.0  1.0  1.0  0.88  0.939759  0.911111
7    0.0  0.0  0.0  0.40  0.313253  0.322222
8    0.2  0.0  1.0  0.64  0.566265  0.633333
9    0.2  0.0  0.0  0.38  0.518072  0.444444
10   0.6  1.0  0.0  0.58  0.445783  0.466667
11   0.6  1.0  0.0  0.40  0.421687  0.366667
12   0.2  1.0  0.0  0.65  0.771084  0.700000
13   0.0  1.0  1.0  0.78  0.662651  0.666667
14   1.0  1.0  0.0  0.50  0.433735  0.533333
15   0.4  1.0  0.0  0.69  0.698795  0.755556
16   0.2  1.0  0.0  0.88  0.867470  0.844444
17   0.4  0.0  0.0  0.18  0.180723  0.200000
18   1.0  0.0  1.0  0.46  0.301205  0.400000
19   0.6  0.0  0.0  0.54  0.493976  0.566667
20   0.2  1.0  0.0  0.66  0.626506  0.588889
21   0.0  0.0  1.0  0.65  0.698795  0.666667
22   0.0  1.0  0.0  0.44  0.445783  0.477778
23   0.4  1.0  0.0  0.69  0.674699  0.700000
24   0.8  0.0  1.0  0.74  0.650602  0.777778
25   1.0  0.0  0.0  0.73  0.686747  0.688889
26   0.0  1.0  0.0  0.69  0.445783  0.500000
27   0.8  1.0  0.0  0.67  0.626506  0.722222
28   0.2  1.0  0.0  0.70  0.638554  0.611111
29   1.0  1.0  0.0  0.62  0.638554  0.722222
..   ...  ...  ...   ...       ...       ...
970  0.8  1.0  0.0  0.89  1.000000  1.000000
971  0.4  1.0  1.0  0.78  0.662651  0.655556
972  0.2  0.0  1.0  0.53  0.397590  0.555556
973  0.0  0.0  0.0  0.49  0.578313  0.566667
974  0.0  1.0  0.0  0.54  0.554217  0.633333
975  0.0  1.0  1.0  0.64  0.783133  0.744444
976  0.0  0.0  1.0  0.60  0.542169  0.555556
977  0.6  1.0  0.0  0.62  0.578313  0.533333
978  0.2  1.0  1.0  0.55  0.289157  0.422222
979  0.6  1.0  0.0  0.91  0.939759  0.933333
980  0.2  0.0  0.0  0.08  0.084337  0.144444
981  0.4  1.0  0.0  0.81  0.734940  0.755556
982  0.4  1.0  1.0  0.79  0.819277  0.844444
983  0.0  1.0  1.0  0.78  0.843373  0.900000
984  0.4  1.0  0.0  0.74  0.698795  0.800000
985  0.2  1.0  0.0  0.57  0.409639  0.488889
986  0.6  1.0  0.0  0.40  0.506024  0.455556
987  0.4  1.0  1.0  0.81  0.698795  0.733333
988  0.4  0.0  0.0  0.44  0.337349  0.388889
989  0.0  0.0  1.0  0.67  0.831325  0.811111
990  0.2  0.0  1.0  0.86  0.771084  0.722222
991  0.4  1.0  1.0  0.65  0.783133  0.755556
992  0.6  0.0  0.0  0.55  0.710843  0.733333
993  0.8  0.0  0.0  0.62  0.662651  0.711111
994  0.2  1.0  0.0  0.63  0.554217  0.577778
995  1.0  1.0  1.0  0.88  0.987952  0.944444
996  0.2  0.0  0.0  0.62  0.457831  0.500000
997  0.2  0.0  1.0  0.59  0.650602  0.611111
998  0.0  1.0  1.0  0.68  0.734940  0.744444
999  0.0  0.0  0.0  0.77  0.831325  0.844444

[1000 rows x 6 columns]

In [34]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=6, random_state=0).fit(dataset_new)
kmeans.labels_

array([0, 2, 4, 1, 2, 2, 4, 5, 0, 1, 3, 1, 0, 2, 1, 2, 4, 5, 1, 3, 0, 0,
       1, 0, 2, 0, 3, 0, 0, 0, 0, 3, 0, 5, 4, 2, 2, 3, 4, 3, 3, 0, 3, 3,
       1, 3, 3, 0, 0, 2, 1, 0, 1, 2, 2, 5, 4, 1, 3, 5, 2, 5, 3, 0, 3, 3,
       5, 0, 3, 1, 0, 3, 1, 3, 1, 5, 5, 2, 0, 0, 1, 1, 1, 0, 5, 2, 2, 0,
       0, 2, 0, 5, 2, 1, 4, 2, 3, 0, 3, 0, 0, 0, 4, 1, 4, 0, 4, 3, 0, 0,
       4, 3, 1, 1, 4, 2, 2, 2, 3, 3, 4, 4, 4, 3, 2, 4, 0, 0, 2, 1, 4, 1,
       2, 2, 2, 1, 1, 3, 0, 0, 0, 3, 1, 1, 2, 5, 2, 0, 2, 4, 0, 0, 0, 1,
       3, 2, 0, 3, 2, 3, 2, 2, 1, 1, 4, 4, 1, 0, 2, 0, 0, 4, 2, 0, 1, 4,
       1, 2, 3, 4, 0, 3, 1, 0, 1, 0, 2, 0, 1, 2, 0, 2, 3, 0, 2, 3, 0, 1,
       1, 2, 2, 2, 0, 0, 1, 2, 0, 2, 2, 3, 2, 5, 1, 3, 4, 2, 4, 5, 0, 3,
       0, 2, 3, 2, 0, 1, 0, 1, 0, 4, 0, 1, 2, 4, 2, 2, 0, 0, 1, 2, 0, 2,
       1, 1, 0, 2, 2, 0, 3, 3, 1, 2, 0, 2, 1, 0, 0, 2, 2, 2, 0, 2, 1, 4,
       0, 1, 0, 0, 4, 0, 3, 1, 1, 0, 2, 2, 4, 0, 2, 3, 1, 1, 2, 2, 1, 2,
       4, 2, 2, 2, 0, 2, 3, 0, 2, 3, 1, 0, 1, 2, 2, 1, 2, 2, 2, 0, 4, 1,
       0, 1, 2, 3, 0, 0, 0, 0, 2, 2, 0, 3, 2, 2, 2, 1, 1, 4, 3, 5, 2, 1,
       3, 5, 3, 2, 4, 0, 0, 1, 5, 1, 3, 0, 0, 0, 0, 2, 3, 4, 0, 2, 3, 3,
       0, 1, 0, 0, 3, 3, 3, 4, 3, 2, 3, 5, 3, 3, 3, 3, 3, 2, 2, 0, 0, 4,
       0, 1, 2, 4, 2, 3, 2, 4, 2, 1, 5, 0, 0, 0, 3, 0, 0, 2, 0, 3, 0, 1,
       3, 4, 3, 3, 3, 1, 3, 4, 3, 0, 3, 2, 3, 4, 0, 2, 0, 0, 0, 2, 0, 0,
       3, 3, 4, 3, 3, 2, 5, 3, 4, 0, 3, 3, 3, 0, 3, 1, 0, 1, 0, 0, 3, 4,
       2, 2, 0, 2, 2, 0, 3, 2, 1, 2, 2, 4, 0, 3, 3, 1, 4, 1, 4, 0, 3, 1,
       0, 4, 3, 4, 5, 0, 2, 2, 4, 0, 2, 3, 4, 2, 0, 2, 3, 0, 0, 3, 0, 1,
       1, 0, 3, 0, 3, 2, 2, 0, 4, 4, 3, 0, 1, 0, 0, 0, 2, 4, 3, 4, 1, 2,
       0, 3, 2, 4, 0, 1, 3, 3, 4, 2, 2, 0, 2, 2, 3, 4, 3, 1, 1, 3, 3, 1,
       5, 0, 0, 1, 3, 4, 0, 2, 3, 3, 2, 4, 0, 2, 2, 4, 0, 2, 4, 0, 0, 2,
       2, 4, 1, 0, 1, 5, 0, 0, 0, 0, 2, 0, 4, 2, 1, 1, 4, 0, 1, 0, 0, 4,
       3, 3, 2, 1, 3, 4, 1, 3, 4, 2, 0, 2, 2, 0, 0, 3, 3, 3, 3, 3, 0, 2,
       4, 0, 5, 1, 0, 2, 3, 5, 2, 3, 4, 0, 2, 1, 3, 3, 3, 3, 4, 0, 4, 0,
       5, 2, 4, 0, 1, 3, 1, 4, 3, 4, 0, 1, 1, 1, 0, 0, 0, 2, 2, 0, 2, 4,
       2, 2, 1, 2, 2, 2, 3, 2, 0, 0, 1, 2, 1, 2, 4, 0, 2, 0, 0, 0, 1, 4,
       2, 0, 0, 0, 0, 3, 0, 2, 0, 2, 0, 1, 2, 2, 2, 3, 2, 2, 2, 3, 0, 3,
       3, 5, 0, 4, 2, 2, 1, 4, 1, 2, 0, 2, 3, 4, 2, 0, 0, 3, 2, 0, 4, 0,
       3, 0, 5, 3, 4, 1, 4, 2, 4, 2, 0, 4, 2, 4, 2, 2, 0, 3, 2, 1, 1, 2,
       0, 3, 2, 1, 2, 1, 4, 1, 3, 3, 4, 0, 2, 3, 2, 1, 2, 0, 1, 2, 0, 0,
       3, 4, 0, 0, 2, 2, 3, 4, 3, 0, 3, 2, 3, 1, 2, 3, 3, 0, 0, 0, 0, 3,
       1, 2, 0, 0, 3, 1, 0, 5, 2, 4, 1, 2, 2, 3, 2, 1, 2, 5, 3, 3, 3, 0,
       0, 2, 1, 0, 0, 2, 3, 3, 0, 2, 4, 4, 2, 2, 0, 1, 2, 3, 5, 1, 3, 2,
       2, 4, 3, 0, 0, 4, 4, 4, 1, 2, 1, 3, 0, 0, 2, 3, 3, 2, 3, 2, 1, 0,
       3, 2, 3, 0, 1, 3, 5, 2, 3, 4, 4, 3, 0, 2, 0, 3, 4, 0, 3, 4, 0, 2,
       1, 2, 3, 4, 5, 2, 4, 2, 3, 1, 2, 1, 3, 0, 2, 4, 3, 0, 2, 3, 0, 0,
       0, 0, 0, 1, 1, 0, 4, 3, 0, 1, 4, 4, 0, 2, 3, 5, 5, 0, 3, 2, 4, 2,
       5, 4, 2, 2, 1, 4, 0, 0, 1, 2, 3, 3, 1, 0, 4, 1, 0, 4, 0, 1, 0, 3,
       0, 0, 3, 0, 1, 1, 0, 3, 0, 0, 4, 3, 3, 3, 2, 0, 0, 4, 0, 3, 3, 3,
       2, 3, 1, 0, 2, 2, 0, 3, 0, 3, 2, 4, 3, 2, 3, 1, 4, 0, 3, 0, 0, 3,
       0, 2, 4, 0, 1, 3, 3, 2, 3, 3, 1, 4, 5, 2, 2, 4, 2, 1, 1, 2, 1, 2,
       2, 2, 0, 0, 3, 4, 3, 0, 2, 2], dtype=int32)

In [23]:
from sklearn import mixture
#g = mixture.GaussianMixture(n_components=6).fit(dataset_new)
#plt.scatter(dataset[:, 0], dataset[:, 1], c=labels, s=40, cmap='viridis');

In [69]:
#1-plus-proche voisin
#moyen de dataset[3]

#dataset.head()
#everage_math = dataset['math score'].mean(axis=0)
count_col = dataset_numpy.shape[0] 
print (count_col)
everage_math = dataset_numpy[3].mean(axis=0)
list_bool = list(range(count_col))
for i in range(1,count_col):
    if dataset_numpy[3].iloc[i] > everage_math :
        list_bool[i] = 1
         #new_df = dataset_numpy.append({'supérieur': 1}, ignore_index=True)
    else:
        list_bool[i] = 0
         #new_df = dataset_numpy.append({'supérieur': 0}, ignore_index=True)

                       
s = pd.Series(list_bool)
dataset_numpy['supérieur_moyen'] = s

df_np = dataset_numpy.values

print(df_np)
split= len(df_np)//2
list_class = []
for i in range (split, len(df_np)-1):
    for j in range (0, split-1):
        dist_min = dist(df_np[i],df_np[0])
        voisin = 0
        if dist(df_np[i],df_np[j]) < dist_min:
            dist_min = dist(df_np[i],df_np[j])
            voisin = j
            #print(df_np[voisin][6])
    #list_class.append(df_np[voisin][6])
    

print(list_class)    
#ajouter un colone
#calcule la distance et enregister la distance minimum
#predire


def dist(x, y):
    dist = np.linalg.norm(x - y)
    return dist

1000
[[0.8        1.         0.         ... 0.6626506  0.71111111 0.        ]
 [0.         1.         1.         ... 0.87951807 0.86666667 1.        ]
 [1.         1.         0.         ... 0.93975904 0.92222222 1.        ]
 ...
 [0.2        0.         1.         ... 0.65060241 0.61111111 0.        ]
 [0.         1.         1.         ... 0.73493976 0.74444444 1.        ]
 [0.         0.         0.         ... 0.8313253  0.84444444 1.        ]]
[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

In [ ]:
#f(y=1|X1,X2,X3,X4,X5) = f(X1,X2,X3,X4,X5|Y=1)*f(Y=1) / f(X1,X2,X3,X4,X5)